.cvdContainer {
  margin-bottom: 1.5rem;
}

.title {
  margin-bottom: 0.75rem;
}

.controlsWrapper {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.radioGroup {
  display: grid;
  gap: 0.25rem;
}

.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.radioLabel:hover {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 0.25rem;
  margin: -0.25rem;
  border-radius: 0.25rem;
}

.sliderContainer {
  display: grid;
  gap: 0.35rem;
}

.sliderLabel {
  font-weight: 500;
}

.slider {
  width: 100%;
}
